@tailwind base;
@tailwind components;

body {
    @apply transition ease-in duration-300;
}
  
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

p {
    @apply mb-4 text-justify;
}

h1, h2, h3, h4, h5, h6 {
    @apply my-2 font-semibold;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

.main-background {
    background-attachment: fixed;
    background-image: url("/images/background.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.link-menu::after {
    content: '';
    height: 0.1em;
}

.link-menu::after {
    @apply absolute w-full right-0 bottom-0  bg-white bg-opacity-50 transition-colors duration-500 ease-in-out;
}

.active {
    @apply text-opacity-100 text-white transition-colors duration-500 ease-in-out;
}

.active::after {
    @apply bg-gradient-to-br from-cyan-500 to-lightBlue-600;
}

@tailwind utilities;